.inicio{
    text-align: center;
    border: dashed 1px lightblue;
}

.meio{
    text-align: center;
    border: dashed 1px lightblue;
    margin-top: 10px;
}

.form{
    text-align: center;
    border: dashed 1px lightblue;
    margin-top: 10px;
    padding: 2rem;
    


}
.resultado{
    background-color: white;


}
.resultado:hover{
    background-color: green;
  
}
.fim{
    border: dashed 1px lightblue;
    margin-top: 10px;
    padding-left: 1.5rem;


}
    


